@import "tailwindcss";

:root {
  --white-color: #fcf0f0;
  --off-white-color: #fff8f8;
  --black-color: #343434;
  --primary-color: #ff554d;
  --yellow-color: #ffc74d;
  --green-color: #43bf75;
  --blue-color: #246b91;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  color: var(--white-color);
  background-color: #251210;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff554d' fill-opacity='0.11'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
  margin: 5px;
  width: 1px;
}
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}

iframe {
  display: block;
  width: 456px;
  height: 256px;
}

.loading-bg {
  background-color: #251210;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff554d' fill-opacity='0.11'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.my-bg-primary {
  background-color: var(--primary-color);
}

.my-bg-primary\/10,
.hover\:my-bg-primary\/10:hover {
  background-color: #ff564d28;
}

.my-bg-black {
  background-color: var(--black-color);
}

.my-bg-white {
  background-color: var(--white-color);
}

.my-bg-white\/10 {
  background-color: #ffffffd0;
}

.my-bg-off-white {
  background-color: var(--off-white-color);
}

.my-text-black {
  color: var(--black-color);
}

.my-text-white {
  color: var(--white-color);
}

.my-text-primary {
  color: var(--primary-color);
}

.hover\:my-text-primary:hover {
  color: var(--primary-color);
  transition-duration: 0.5s;
}

.hover\:my-text-white:hover {
  color: var(--white-color);
  transition-duration: 0.5s;
}

.my-border-black {
  border-color: var(--black-color);
}

.my-border-primary,
.focus\:my-border-primary:focus {
  border-color: var(--primary-color);
}

h1 {
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
    letter-spacing: 0.5rem;
    font-size: 3rem;
  }
}

.line-animate:after {
  position: absolute;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  right: 0;
  content: "";
  transition: width ease 0.5s;
}

.line-animate:hover:after {
  width: 4rem;
}

.my-form {
  @apply w-full
  px-4
  py-3
  transition;
  border: 1px solid rgb(165, 165, 165);
}

.my-form:focus,
.my-form:hover {
  border: 1px solid var(--primary-color);
  outline: none;
}

.my-underline-primary {
  text-decoration: underline 1px solid var(--primary-color);
  text-underline-offset: 0.25rem;
}

.my-pill {
  @apply py-1 
  px-3 
  rounded-full 
  text-sm 
  hover:bg-orange-500/10 
  hover:shadow-none 
  transition-all;
  cursor: default;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 4px 0 var(--primary-color) inset,
    0 0 20px -10px var(--primary-color);
}

.my-card {
  border: 1px solid var(--primary-color);
  animation: blur-animation 1s linear forwards;
}

@keyframes blur-animation {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px) opacity(0);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(2px) opacity(1);
  }
}

.piechart {
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(53, 3, 0);
}

.slice {
  aspect-ratio: 1/1;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 50%, 100% 0%, 50% 0%);
  transform-origin: 50% 50%;
  opacity: 0;
  background: transparent;
}

.slice1 {
  background: rgb(255, 148, 143);
  animation: grow1 0.5s ease-out forwards;
}
.slice2 {
  background: var(--primary-color);
  animation: grow2 0.5s ease-out forwards;
}
.slice3 {
  background: rgb(108, 14, 9);
  animation: grow3 0.5s ease-out forwards;
}
.slice4 {
  background: rgb(68, 7, 3);
  animation: grow4 0.5s ease-out forwards;
}

@keyframes grow1 {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes grow2 {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(20deg);
    opacity: 1;
  }
}

@keyframes grow3 {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(60deg);
    opacity: 1;
  }
}

@keyframes grow4 {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(130deg);
    opacity: 1;
  }
}

.my-glow-animation {
  animation: glowing 5s infinite alternate;
}

@keyframes glowing {
  0%,
  100% {
    box-shadow: 0 0 50px 0px var(--primary-color);
  }
  50% {
    box-shadow: 0 0 100px 0px var(--primary-color);
  }
}

.hover\:my-glow-primary:hover,
.my-glow-primary {
  @apply shadow-[0_0_70px_var(--primary-color)];
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
}

.animate-loading-bar {
  animation: loading 0.8s ease infinite;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.click-animation {
  font-size: 2rem;
}

@keyframes click-text {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}
